.App {
  display: grid;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  }

#increment {
  grid-column-start: 3;
  grid-row-start: 3;
  text-align: center;
  font-size: 50px;
}

#increment>.button {
  background: #4a4a4a;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 20px;
  font-size: 30px;
}