@import "../../../../node_modules/bulma/bulma.sass";
@import "./partials/box.scss";
@import "./partials/weather.scss";

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.logo {
  width: 25%;
  height: 100%;
}

.spin {
  -webkit-animation: spin 4s infinite linear;
}

.container {
  margin-top: 25px;
  margin-bottom: 25px;
}
